header { 
background-color: rgb(186, 179, 179); 
}

.container{
    display: inline-block;
    justify-content: center;
    border: solid white 10px;
    margin-left: 35%;
    }

.info h2 { 
    text-align: center; 
    background-color: red; 
    text-emphasis-color: white; 
    
}

.info h3 { 
    text-align: center;
    background-color: blue; 
    text-emphasis-color: black; 
}

.info img{
    width: 600px; 
    height: 600px;
    border: solid black 5px; 


}